#key-display {
  z-index: 10002;
  height: 100px;
  position: fixed;
  top: 40px;
  right: 15px;
  text-align: right;
  font-size: 51px;
  filter: alpha(opacity=80);
  opacity: 0.8;
  color: #000;
  font-family: helvetica;
  -webkit-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#key-display.hidden {
  opacity: 0;
}
