#key-display {
	width: 300px;
	height: 100px;
	float: right;
	background: black;
	filter: alpha(opacity=50);
	opacity: 0.5;
	color: white;
	font-family: helvetica;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#key-display.hidden {
	visibility: hidden;
	opacity: 0;
}